[submodule "java2arduino-c"]
	path = java2arduino-c
	url = git@github.com:stefanct/java2arduino-c.git
[submodule "realtimeify"]
	path = realtimeify
	url = git@github.com:stefanct/realtimeify.git
[submodule "sync_usb_kernel"]
	path = sync_usb_kernel
	url = git@github.com:stefanct/sync_usb_kernel.git
